@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Oswald:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  @apply transition-colors duration-100;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
}

a:hover,
i:hover {
  @apply text-secondary transition-all ease-out duration-300;
}

.rise {
  @apply transition-transform ease-in-out duration-300;
}
.fadeUpIn {
  @apply transition-all ease-in-out duration-1000;
}
.rise:hover {
  @apply -translate-x-1 -translate-y-1;
}
.fadeUpIn {
  @apply opacity-100 translate-y-0;
}
